{
  "settings": {
    "time": {
      "from": "10:00",
      "to": "12:00"
    },
    "order": "random",
    "repeat": "true",
    "intervalMinutes": 10,
    "durationMinutes": 1
  },
  "noise": [
    {
      "id": "death",
      "source": "www.google.com"
    }, 
    {
      "id": "dubstep",
      "source": "C:\test"
    }
  ]
}