{
	"settings" = {
        "time" = {
	        "from": "10:00",
	        "to": "12:00",
    	},
    	"order": "random",
        "repeat": "true"
        "interval": 10,
        "duration": 1,
    },    
    "noise" = [{
        "id": "death",
        "resource": "online",
        "path": "www.google.com"
    }, {
        "id": "dubstep",
        "resource": "pc",
        "path": "C:\test"
    }]

}
