{
  "settings": {
    "time": {
      "from": "17:40",
      "to": "18:5"
    },
    "order": "random",
    "intervalMinutes": 1,
    "durationMinutes": 0.5
  },
  "noise": [
    {
      "id": "dubstep",
      "source": "https://www.youtube.com/watch?v=hwsXo6fsmso"
    },
    {
      "id": "song",
      "source": "C:\\gameSong.wma"
    }
  ]
}